 dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote { margin: 0; padding: 0; }
a{outline:0;}
img{border: 0;}

a.externo{background:url(images/i/ico_link.png) no-repeat right; padding-right:16px;}

.enlace {color:#262324; font-weight:bold; text-decoration:none;}
.enlace:hover {color:#0079B1; text-decoration:underline;}

html {
 height: 100%;  
}

body {
	font-family: "Open Sans",sans-serif !important;
	margin-left: 0;
    margin-right: 0;
    margin-top: 0;
	font-size: 8pt;
    line-height: 2em;
	text-align:center;
	background: #ffffff;
	color:#262324;
}

.contenedorVisor {
	margin: 0px;
	width: 100%;
	position: relative;
	background: #ffffff;
	color: inherit; 
	padding: 0px 0px 0px 0px;
	text-align: center;
	height: 100%;
}

body.contenedorVisor {
	position: absolute;
	overflow:hidden;
}

.text {
	color: #DFDFDF;
	font-size: 12px;
	text-decoration:none;
}

.textlink {	color: #00008B;
	font-size: 12px;
	text-decoration:underline;
}

.link {
	color: #00008B;
	font-size: 12px;
	text-decoration:none;
}

input.text    { font-size: 12px; color: black; border: 1px solid Gray; background-color:#e0e0d5; }
input.textred { font-size: 12px; color: white; border: 1px solid Gray; background-color:#8b0000; }
select.text   { font-size: 12px; color: black; border: 1px solid Gray; background-color:#e0e0d5; }
textarea      { font-size: 12px; color: black; border: 1px solid Gray; background-color:#e0e0d5; }

.texto {
	color: #DFDFDF;
	font-size: 12px;
}

.justificado {
	text-align: justify;
}

.textoInv {
font-family: "Open Sans",sans-serif !important;
	color: #000000;
	font-size: 12px;
}

.textoInvNegro {
	color: #000000;
	font-size: 11px;
}

.textoInvRojo {
	color: #CC0000;
	font-size: 11px;
}

.textoInvEnlace {
	color: #0000bb;
	font-size: 12px;
}


.textoInvEnlace:link {
	color: #0000bb;
	font-size: 12px;
}

.textoInvEnlace:visited {
	color: #0000bb;
	font-size: 12px;
}

.textoInvEnlace:hover {
	color: #bb0000;
	font-size: 12px;
}

.textoInvEnlace:active {
	color: #0000bb;
	font-size: 12px;
}

.banner {
	color: #DFDFDF;
	font-size: 12pt;
	text-decoration:none;
}

.textToc {
	color: #000000;
	font-size: 12px;
	text-decoration:none;
}

.imgToc {
  border: 0px;
  margin: 0px;
  padding: 0px;
  vertical-align: text-bottom;
}

.header {
	font-weight: bold;
}

.headerNormal {
    background-color: #E0DFDF;
    font-weight: bold;
    height: 25px;
}

.treeIcon{
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
    top: 1px;
	}

.treeIconLevel2{
	padding-left: 18px;
	padding-right: 5px;
	position: relative;
    top: 1px;
	}

.itemBig {
	font-size: 10pt;
	text-decoration:none;
	background-color: #4494b9;
}
.itemBig.header{
	height: 25px;
}

.itemNormal {
    font-size: 9pt;
    text-decoration: none;
}

.blanco {
	color: #FFFFFF;
}

.negro {
	color: #000000;
}

.fondoGrisClaro {
	background-color:#f0f0ef;
}

.itemTitulo {
	font-size: 10pt;
	text-decoration:underline;
	font-weight: bold;
	color: #000000;
}

.item {
	font-size: 12px;
	text-decoration:none;
	background-color: #FFFFFF;
}

.itemEnlace {
	font-size: 12px;
	color: #000000;
	text-decoration:none;
}

.itemEnlace:link {
	font-size: 12px;
	color: #000000;
	text-decoration:underline;
}

.itemEnlace:visited {
	font-size: 12px;
	color: #000000;
	text-decoration:underline;
}

.itemEnlace:hover {
	font-size: 12px;
	color: #000000;
	text-decoration:underline;
}

.itemEnlace:active {
	font-size: 12px;
	color: #000000;
	text-decoration:underline;
}

.itemBlanco {
	font-size: 12px;
	text-decoration:none;
	color: #FFFFFF;
}

.itemBlancoEnlace {
	font-size: 12px;
	text-decoration:none;
	color: #FFFFFF;
}

.itemBlancoEnlace:link {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration:underline;
}

.itemBlancoEnlace:visited {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration:underline;
}

.itemBlancoEnlace:hover {
	font-size: 12px;
	color: #ffff00;
	text-decoration:underline;
}

.itemBlancoEnlace:active {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration:underline;
}

.disabled {
	color: #888888;
}

.normal {
	color: #000000;
}

.par {
	background-color: transparent;
}

.impar {
	background-color: #bbbbbb;
}

.textBox {
	width: 90px;
	height: 16px;
	border: 1px solid #555555;
}

.titleclass {
	left:0px;
	top:10px;
	width:100%;
	height:50px;
	text-align: center;
	position:absolute;
	font-size:x-large;
	color:#FFFFFF;
	background-color:#0bb37c;
}

.tocclass { 
	border-style: solid; 
	border-color: #0bb37c; 
	left:16px;
	top:115px;
	width: 210px; 
	height: 240px;
	overflow:scroll;
	border-width: 5px; 
	text-align: left;
	position:absolute;
}

.headerRow { 
  background-color:#E0E0E0;
  
  font-size:12px;
  font-weight:bold;
}

.oddRow { 
	font-size:12px;
	background-color:#FFFFFF;
}

.evenRow, .evenRow .item { 
	font-size:12px;
	background-color:#eef5f8;
}


.ovmapclass {
	border-style: solid; 
	border-color: #0bb37c; 
	left:16px;
	top:370px;
	width: 210px; 
	height: 170px;
	border-width: 5px; 
	text-align: left;
	position:absolute;
}

.transp65 {
	opacity:.65;
	filter: alpha(opacity=65);
	-moz-opacity: 0.65;
}

.transp50 {
	opacity:.5;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
}
.transp30 {
	opacity:.3;
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
}
.centrado {	text-align:center; }
.izquierda { 	text-align:left; }
.derecha { text-align:right; }
.negrita { font-weight: bold; }
.cursiva { font-style:italic; }
.bordeGris { border: 1px solid #C0C0C0;}
.bordeGrueso { border: 2px solid #393939;}

table.sinEspacio{ border-spacing: 0px; border-collapse: collapse; width:100%;}

.margen5px { margin:5px; }

.textoAzul, .textoAzul a.textoInferior{
	color: #007AB4 !important;
	}
.textoInferior {
	width:100%;
	color: white;
	height:20px;
	font-weight: bolder;
	font-size: 10px;
}
a.textoInferior{
	color: white !important;
	font-weight: bolder;
	font-size: 14px;
	text-decoration:none;
	  padding-right: 5px;
}
.textoInferior2 {
	color: #000000;
	height:20px;
	font-weight: bolder;
	font-size: 11px !important;
}

.zIndexMaximo { z-index: 5000 }

.anchuraEstrecha { width: 50px; }

.paddingIzquierda { padding-left:33px; padding-top:3px; padding-bottom:3px; padding-right: 3px; }

fieldset {
    border-color: #0079B1;
    border-radius: 5px;
    padding: 2px 2px 2px 10px;
}
