#scaleBox {
    bottom: 90px;
}

#scale2 {
	position: absolute;
}

#scale3 {
	position: absolute;
}

#scale4 {
	position: absolute;
}

#scale5 {
	position: absolute;
}

.ol-attribution{
	position: relative !important;
text-align: left !important;
background:none !important;
           bottom:80px !important;
}

.ol-attribution a{
	display:none;
}

.ol-overviewmap{
	bottom:inherit !important;
}

.ol-overviewmap,.ol-overviewmap-map{
	height:135px !important;
	width:300px!important;
	border:none !important;
}

   .ol-overviewmap .ol-overviewmap-box {
        border: 2px solid red;
      }
      
#overview_map {
    position: inherit;
    left: inherit;
    width: inherit;
}

.tocHidden{
	display:none;
}

  #gfiIframe{
width:800px !important;
height:600px !important;;
}



#legend_panel  {
	text-align:left !important;
    margin-left:28px !important;
}
#legend_panel img {
   margin-left: 5px !important;
margin-bottom: 5px !important;
}

.attachCount{
position: absolute;
margin-left: 15px;
border: solid 1px;
background-color: white;
min-width: 15px;
line-height: 15px;
font-weight: bold;
margin-top: 15px;
display:none;
}

.attachedButton{
	float: right;
display: inline-block;
margin-right: 3px;
}
#showDocsButton{
	margin-right: 10px;
}

.undisplayed{
	display:none;
}

.buttonZoneForm { margin: 10px; }
.buttonZoneForm input,.buttonZoneForm  button { margin: 10px; }

.block { width:50%; float: left;}
.block .label { width: 28%; float: left; text-align: left; line-height: 18px; margin: 2%; font-weight: bold; }
.block .field { float: left; margin: 2%; width: 62%; }
.block .field input,.block .field select { float: left; width: 90%; } 
.formulAnchoCompleto .block { width:100%; float: left;}
.formulAnchoCompleto .block .label { width: 14%; float: left; text-align: left; line-height: 18px; margin: 1%;  font-weight: bold; }
.formulAnchoCompleto .block .field { float: left; width: 82%; margin: 1%; }
.formulAnchoCompleto .block .field input,.formulAnchoCompleto .block .field select,.formulAnchoCompleto .block .field textarea{ float: left; width: 90%; } 
.blockComent { width:100%; float: left;}
.blockComent .label { width: 18%; float: left; text-align: left; line-height: 18px;  font-weight: bold; }
.blockComent .field { float: left; width: 76%; }
.blockComent .field input,.blockComent .field select,.blockComent .field textarea{ float: left; width: 90%; } 

#formCoordsIcon { width: auto; float: left; }
#pointCoords { margin-bottom: 0px; }
#ftEditionForm li { list-style: none; }
ul.formul { clear: both; }
ul.formul li { width: 50%; display: block; position: relative; float: left; }
ul.formulFieldset li { width: 100%; display: block; position: relative; float: left; }
ul.formulAnchoCompleto li { width: 100%; display: block; position: relative; float: left; }
#ftEditionForm fieldset { font-weight: normal; margin: 4px; text-align: left; }

.rslides_tabs li.rslides_here a {
    background: #000;
}

.rslides_tabs { margin-top: 15px; margin-bottom: 15px;}
.rslides_tabs li { float: none; display: inline; margin: 6px; list-style: none; }
.rslides_tabs li a { text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #ccc;
    background: rgba(0,0,0, .2);
    display: inline-block;
    _display: block;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    width: 9px;
    height: 9px; 
}

#ftEditionForm	.ui-icon {
    height: 100%;
    left: 7.5px !important;
    top: 7.5px !important;
    width: 100%;
}

#pointCoords{
width:220px;
}
input:read-only {
    background: #f0f0f0;
}
textarea{
	background: white;
}

input:required,select:required { 
    border: 2px solid #0079B1;
}

.greyRow{
background: lightgrey !important;
background-color: lightgrey !important;
}

#tools {
    min-width: 320px;
    width: 320px;
    max-width: 320px;
}

#texto {
      width: 250px !important;
}

#sliderTocContainer {
    width: 185px;
}

#tabs {
   
     min-width: 320px; 
}
.ulResponsive{
    display: inline-block;
}
.ulResponsive li{
	float:left;
	list-style: none;

	
	}
#GPXCoordsButton {	
	display: inline-block;
    vertical-align: bottom;
   border: 1px solid #d2d2d2
}
#GPXCoordsButton img {
 
    width: 28px;
    height: 28px;
}
#dialogFtSelect{
	text-align:left;
}

#dialogFtSelect ul{
	margin-left:20px;
}
#extra_attr{
text-align: left;
    text-decoration: underline;
    font-size: 12px;
    font-weight: bold;
	}
#addExtraIcon {
    margin-right: 5px;
    width: auto;
    height: auto;
	
}
