@media screen and (max-width:474px)  {
	
	.noMobile, #zoomSlider .ui-slider-handle {
		display:none;
		height:0px !important;
	}
	.ui-tabs .ui-tabs-nav li a {
   
    padding: .5em;
	}
	
	#panZoom img{
		z-index:8000 !important;
	}
	.mapLeftButton {
    display: block !important;
}

	
.ui-button .ui-icon.orto-icon {
	background-image: url(/lib/IDEAragon/themes/tablet/images/Ortofoto_mini.png);
}

.ui-button .ui-icon.basico-icon {
	background-image: url(/lib/IDEAragon/themes/tablet/images/Cartografia2_mini.png);
}

.ui-button .ui-icon.topo-icon {
	background-image: url(/lib/IDEAragon/themes/tablet/images/Planos1_mini.png);
}

.ui-button .ui-icon.sombreado-icon {
	background-image: url(/lib/IDEAragon/themes/tablet/images/Fotos2_mini.png);
}

.ui-button .ui-icon.mdt-icon {
	background-image: url(/lib/IDEAragon/themes/tablet/images/MDT.png);
}

.ui-button .ui-icon.satelite-icon {
	background-image: url(/lib/IDEAragon/themes/tablet/images/Satelite_mini.png);
}
#baseToolbar{
width:315px;
z-index:9999;
}
#baseToolbar .ui-button {
    height: 60px;
    width: 50px;
    font-size: 7pt;
}

#baseToolbar .ui-button .ui-icon {
    height: 34px;
    width: 39px;
	}
	
	#baseClose {
	right:0;
	top:105;
	}
	#ortoSelector{
font-size:8pt;
    max-width: 50px;
}
#mapToolbar, #scaleToolbar {
height:auto;
}
#mapToolbar	.ui-icon, #ftEditionForm .ui-icon {
    background-size: 40px 40px;
	}
	#mapToolbar	button.ui-button {
  height: 42px;
    width: 40px;
	 margin-left: 0 !important;
	 margin-top:7px !important;
	}
	
   #toolsClose {
    margin-left: 15px;
	}
	#panZoom img{
	    width: 40px;
		}
		#panSouth,#panNorth{
		width:auto !important;
		height: 40px;
		}
		#panWest {
    left: 2px !important;
   
    top: 15px !important;
}
#panSouth {
    left: 16px !important;
   
    top: 44px !important;
}
#panEast {
    left: 46px !important;
    top: 14px !important;
}
#zoomBar {
  left: 0px;
    top: 10px;
}
 #scaleToolbar {
/*bottom: -20px;*/
 	
}
#scaleClose{
    bottom: 20px;
    float: right;
	    top: auto;
	}
	#ftEditionForm .rslides{
	    margin-top: 10px;
		}
		#pointCoords{
		width: 90%;}
		#revisionForm #comentario{
		width:240px;}
		#docForm #descripcion{
		    margin-bottom: 10px;
    width: 300px;}
	
	.jcarousel-wrapper {
    width: 300px !important;
    height: 200px !important;
	margin-bottom: 30px;
	margin-left:0;
	margin-right:0;
}
.jcarousel-control-prev {
    left: -10px;
top: 215px !important;
}
.jcarousel-control-next {
    right: 5px;
	top: 215px !important;
}
#photosWin{
padding:1px;
}
.buttonLabel{
    height: 40px;
    width: 40px;
}
button, input[type=submit]{
margin: 5px;
    min-height: 30px;
}

#toc_table{
line-height: 25px;
}
.imgToc {
    width: 25px;
   
    height: 25px;
}
.ui-dialog-titlebar {
line-height:25px;
}
.ui-dialog .ui-dialog-titlebar-restore, .ui-dialog .ui-dialog-titlebar-minimize,.ui-dialog .ui-dialog-titlebar-close {
    height: 24px !important;
    width: 25px !important;
	top: 10px;
}
.ui-dialog .ui-dialog-titlebar-minimize{
margin-right: 5px;
}
.ui-icon-closethick {
 margin-left: -14px !important;
    height: 30px;
    width: 30px;
	margin-top: 0 !important;
    top: 0 !important;}
.ui-icon-minus ,.ui-icon-newwin{
   
    height: 30px;
    width: 30px;
    margin-left: -4px !important;
    margin-top: -5px !important;
}

.ui-dialog-titlebar-buttonpane{
right:15px !important;
}
.remodal-close:before{
line-height: 55px;
 z-index: 9498;
}

.remodal-wrapper {
  
    text-align: left;
    z-index: 9499;
	}
.remodal, .remodal-wrapper:after {
    vertical-align: top;
}

.mapLeftButton {
    left: 0;
    position: absolute;
    text-align: left;
    top: 0px;
	width:30px;
}

.ui-button .ui-icon.right-arrow-icon {
	background-image: url(/lib/IDEAragon/themes/default/images/right-arrow.png);
}
ul.formul li { width: 100%;}
}