#tabs {

    min-width: 300px;
}
#header_text{
margin-left: 15px;
}

#mapToolbar{
height:auto;
}

@media (max-width: 500px) {
#mapToolbar{
top:35px;
}
}
#baseToolbar{
width:330px;
z-index:9999;
}
#baseToolbar .ui-button {
    height: 60px;
    width: 50px;
    font-size: 7pt;
}

#baseToolbar .ui-button .ui-icon {
    height: 34px;
    width: 39px;
	}
	
	#baseClose {
	right:0;
	}
	
	
.ui-button .ui-icon.orto-icon {
	background-image: url(images/Ortofoto_mini.png);
}

.ui-button .ui-icon.basico-icon {
	background-image: url(images/Cartografia2_mini.png);
}

.ui-button .ui-icon.topo-icon {
	background-image: url(images/Planos1_mini.png);
}

.ui-button .ui-icon.sombreado-icon {
	background-image: url(images/Fotos2_mini.png);
}

.ui-button .ui-icon.mdt-icon {
	background-image: url(images/MDT.png);
}

.ui-button .ui-icon.satelite-icon {
	background-image: url(images/Satelite_mini.png);
}

.textoInferior2 {
font-size:9px !important;
}
#scaleToolbar{
height:auto;
bottom:0;
}



.itemNormal.headerNormal.blanco a.blanco{
	white-space: normal;
	}
	
	.search_map .itemBig.negro.fondoGrisClaro,.search_map  .normal.item{
	
	font-size:8pt;
	}
.search_map .paddingIzquierda {
    padding-left:5px;
	}
	#tools {
min-width: 325px;
width: 325px;
max-width: 325px;
}

#texto {
    width: 265px !important;
	}
	
	#overview_map {
    left: 95px;
}

.textToc {
    white-space: normal;
}

/*#mapPanel{
min-width:700px;
}*/

#tabsCol {
    min-width: 324px;
}

.toc_info{
	width: 150px !important;
}

#foot_int,#foot_int .textoInvRojo{
	font-size:9px;
}

#baseToolbar .chosen-container {
    width: 50px !important;
}

.chosen-container {
    font-size: 9px !important;
}

.chosen-container-single .chosen-single {
padding-left:2px !important;
}