
#baseToolbar .ui-button {
    height: 100px;
    width: 95px;
	font-size: 12pt;
}

#baseToolbar .ui-button .ui-icon {
    height: 74px;
    width: 85px;
	top:30px;
}

#mapToolbar .ui-icon, #selTool, #baseToolbar .ui-button .ui-icon, #zoomSlider .ui-slider-handle,.ui-button .ui-icon.search-icon {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
	
#baseToolbar .chosen-container {
	width:95% !important;
}

.selectorImg {
    width: 20px;
}
	
#baseToolbar {
	width: 625px;
	top: 145px;
}
.mapButton {
	height: 54px;
    font-size: 12pt !important;
}

#notificarToolbar button {
	height:45px;
}

#notificarToolbar button, #scaleToolbar,.ui-tabs .ui-tabs-nav li a, .innerWindowHeader,  #ui-accordion-toc_window-header-0, #ui-accordion-legend_window-header-0, #searchTab, #info,.textoInv, .textoInvEnlace:link {
	font-size: 12pt;
}

.textoInferior2 {
	height:30px;
	margin-top: 20px;
}

.textoInferior2 ,#coords label, #coords b {
	font-size: 12pt !important;
}

.toolbarImage {
	width:40px;
}

#toolbar {
	height: 44px;
}

#breadCrumb{
padding-top:12px;
font-size:14pt;
}


#toolsButton {
    top: 5px;
}

.buttonLabel ,#mapToolbar button {
    height: 48px;
    width: 48px;
}

#mapToolbar{
	height: auto;
	top:40px;
}

#notificarButton ,#scaleButton{
	width:209px;
}
	
#notificarButton {
    bottom: 110px;
}

/*#scaleToolbar {
height: 70px;
bottom:6px;
width: 760px;
}*/
#scaleToolbar {
	height:180px;
	bottom:0;
	width: 570px;
}

#notificarToolbar {
	bottom: 180px;
}

#selTool {
    height: 45px;
    top: 4px;
    width: 40px;
}

#toolsClose, #baseClose, #scaleClose, #notificarClose {
	width:30px;
}

#toolsClose ,#scaleClose {
	float:right;
}

#scaleClose {
	top:-80px;
}

#baseLayerButton {
    top: 110px;
}

a.textoInferior {
font-size:20px;
}

#barra {
	width:30px;
}

#barra img {
	width:25px;
}

#top-right-arrow ,#top-left-arrow{
    margin-left: 3px;
}
	
#bottom-right-arrow ,#bottom-left-arrow{
    margin-left: -25px;
}
	
	#logo img  {
    height: 60px;
}
#logoSitar img {
    height: 70px;
}

#headerLogos{
height: 90px !important;
}

#header_text {
    padding-top: 29px;
    height: 30px;
}

#zoomBar img {
   
    width: 50px;
}

#zoomSlider .ui-slider-handle {
height: 25px;
width: 43px;
margin-left:8px;
  
}
#zoomSlider{
height: 198px;
top: -198px;
}

#zoomOut {
    top: -198px;
}

#panWest, #panEast{
width:60px;
 top: 18px;
}
#panNorth, #panSouth{
width:80px;
left: 18px;
}
#panSouth {
    top: 62px;
}
#panEast {
    left: 57px;
}

#panWest {
    left: 0px;
}
#panNorth {
    top: 0px;
}

#zoomBar {
    left: 35px;
   
    top: 140px;

}

#northLabel {
    left: 48px;
    top: -30px;
    width: 20px;
}

.innerWindow {
    font-size: 12pt !important;
}

#texto{
height: 34px;
width: 343px !important;
}

#searchButton {
    height: 40px !important;
}

.ui-button .ui-icon.search-icon {
	height: 42px;
	width: 42px;
}

#searchButton .ui-button-text{
	font-size:8pt !important;
}

.updateMap{
	height:40px;
}

.imgToc{
	height: 30px;
	width: 30px;
}

.textToc {
    font-size: 12pt !important;
	vertical-align: super;
}

.customCheckBox + label {
padding-left:34px;
    background-size: 30px 30px;
}
#overview_window {
    height: 180px;
}

#foot_int{
font-size:10pt;
height:50px;
}

.itemBig ,.itemTitulo {
    font-size: 12pt;
	}
	
	.itemNormal,.itemEnlace, .itemEnlace:link, .itemEnlace:visited,.itemEnlace:hover , .itemEnlace:active,.item,.evenRow .item{
    font-size: 11pt;
	}
	
.itemBig.header {
    height: 35px;
}

.headerNormal{
line-height: 35px;
}

.toc_info .item{
line-height:30px;
}

.slick-cell img{
width:20px;
}

.slick-cell{
line-height:30px;
}
.slick-header-column{
height:40px;
line-height:40px;
}

#resultados_tabla{
height:480px;
max-height:550px;
}
.pag_button {
    height: 40px !important;
	}
	
	.pag_button .ui-icon {
    margin-left: 5px !important;
}
.search_map img{
width:35px;
}

.search_map .treeIcon img{
width:20px;
}

.ui-dialog{
font-size:12pt !important;
}
.ui-dialog .ui-dialog-titlebar-close, .ui-icon-closethick{
width:30px !important;
height:30px !important;
}
.ui-icon-closethick{
margin-top: -15px !important;
margin-left: -12px !important;
}
.chosen-container {
    font-size: 12pt !important;
}

#cboPrintDPI {
	height:30px;
	width:101px;
}

#titleForPrint {
	height:30px;
}

#mantenerExtension {
	margin-right:10px;
}