@CHARSET "ISO-8859-1";

h3 {
	text-align: center;
}

#pointCoords{
	margin-bottom: 5px;
}

#formCoordsIcon{
	vertical-align: bottom;
}
#ftEditionForm fieldset{
	font-weight: bold;
}
#ftEditionForm table, #revisionForm table, #shpForm table, #addExtraFieldForm table {
    text-align: left;
    font-size: 8pt;
}

#ftEditionForm input[type=submit], #ftEditionForm button {
    height:23px;
}
 #revisionForm table {
padding-bottom: 20px;
                }
#transpMsg{
	font-size: 11px;
	 color: #cc0000;
	}
 .sliderLabel{
	display:inline-block;

	line-height: 20px;
}
#baseToolbar{
	color: white;
}
#sliderFondoContainer{
	display: inline-block;
width: 340px;
padding-left: 10px;
padding-right: 4px;
}
.buttonLabel{
 height: 28px;

    width: 28px;
    border-radius:0 !important;
	}
	.buttonLabel.ui-state-active{
	background: #0079B1 !important;
	border:none;
	}
	
/* modificado estilo de OpenLayers */
.olControlScale {
	opacity: 0;
}

#mapToolbar .ui-button{
	margin-top: 2px !important;
}
.ui-button .ui-icon.arrow-icon {
	background-image: url(images/arrow.png);
}

.ui-button.ui-state-active .ui-icon.zoom-prev-icon {
	background-image: url(images/zoomLastRO.png);
}

.ui-button.ui-state-hover .ui-icon.zoom-prev-icon {
	background-image: url(images/zoomLastHO.png);
}

.ui-button .ui-icon.zoom-prev-icon {
	background-image: url(images/zoomLast.png);
}

.ui-button .ui-icon.full-extent-icon {
	background-image: url(images/fullExtent.png);
}

.ui-button.ui-state-active .ui-icon.full-extent-icon {
	background-image: url(images/fullExtentRO.png);
}
.ui-button.ui-state-hover .ui-icon.full-extent-icon {
	background-image: url(images/fullExtentHO.png);
}
.ui-button .ui-icon.delete-icon {
	background-image: url(images/clean.png);
}

.ui-button.ui-state-active .ui-icon.delete-icon {
	background-image: url(images/cleanRO.png);
}
.ui-button.ui-state-hover .ui-icon.delete-icon {
	background-image: url(images/cleanHO.png);
}

.ui-button .ui-icon.info-icon {
	background-image: url(images/identifyAll.png);
}

.ui-button.ui-state-active .ui-icon.info-icon, #toolsButton .info-icon {
	background-image: url(images/identifyAllRO.png);
}
.ui-button.ui-state-hover .ui-icon.info-icon {
	background-image: url(images/identifyAllHO.png);
}
.ui-button .ui-icon.download-icon {
	background-image: url(images/descarga.png);
}


.ui-button.ui-state-active .ui-icon.download-icon, #toolsButton .download-icon {
	background-image: url(images/descargaRO.png);
}

.ui-button.ui-state-hover .ui-icon.download-icon {
	background-image: url(images/descargaHO.png);
}


.ui-button .ui-icon.circle-icon {
	background-image: url(images/bufferCirculo.png);
}

.ui-button.ui-state-active .ui-icon.circle-icon, #toolsButton .circle-icon {
	background-image: url(images/bufferCirculoRO.png);
}
.ui-button.ui-state-hover .ui-icon.circle-icon {
	background-image: url(images/bufferCirculoHO.png);
}

.ui-button .ui-icon.edit-icon {
	background-image: url(images/editar.png);
	
}

.ui-button.ui-state-active .ui-icon.edit-icon , #toolsButton .edit-icon{
	background-image: url(images/editarRO.png);
	
}
.ui-button.ui-state-hover .ui-icon.edit-icon {
	background-image: url(images/editarHO.png);
	
}


.ui-button .ui-icon.shp-icon {
	background-image: url(images/SHP.png);
	
}

.ui-button.ui-state-active .ui-icon.shp-icon , #toolsButton .shp-icon{
	background-image: url(images/SHP.png);
	
}
.ui-button.ui-state-hover .ui-icon.shp-icon {
	background-image: url(images/SHP.png);
	
}

.ui-button .ui-icon.gpx-icon {
	background-image: url(images/GPX.png);
	
}

.ui-button.ui-state-active .ui-icon.gpx-icon , #toolsButton .shp-icon{
	background-image: url(images/GPX.png);
	
}
.ui-button.ui-state-hover .ui-icon.gpx-icon {
	background-image: url(images/GPX.png);
	
}
.ui-button .ui-icon.coords-icon {
	background-image: url(images/historico.png);
	
}
.ui-button.ui-state-hover .ui-icon.coords-icon {
	background-image: url(images/historicoHO.png);
	
}
.ui-button.ui-state-active .ui-icon.coords-icon , #toolsButton .coords-icon{
	background-image: url(images/historicoRO.png);
	
}

.ui-button .ui-icon.ovc-icon {
	background-image: url(images/identifyOVC.png);
}

.ui-button.ui-state-active .ui-icon.ovc-icon , #toolsButton .ovc-icon{
	background-image: url(images/identifyOVCRO.png);
}
.ui-button.ui-state-hover .ui-icon.ovc-icon {
	background-image: url(images/identifyOVCHO.png);
}

.ui-button .ui-icon.profile-icon {
	background-image: url(images/profile.png);
}

.ui-button.ui-state-active .ui-icon.profile-icon, #toolsButton .profile-icon {
	background-image: url(images/profileRO.png);
}
.ui-button.ui-state-hover .ui-icon.profile-icon {
	background-image: url(images/profileHO.png);
}

.ui-button .ui-icon.area-icon {
	background-image: url(images/areaMeasure.png);
}

.ui-button.ui-state-active .ui-icon.area-icon, #toolsButton .area-icon {
	background-image: url(images/areaMeasureRO.png);
}
.ui-button.ui-state-hover .ui-icon.area-icon {
	background-image: url(images/areaMeasureHO.png);
}

.ui-button .ui-icon.distance-icon {
	background-image: url(images/distanceMeasure.png);
}

.ui-button.ui-state-active .ui-icon.distance-icon , #toolsButton .distance-icon{
	background-image: url(images/distanceMeasureRO.png);
}
.ui-button.ui-state-hover .ui-icon.distance-icon {
	background-image: url(images/distanceMeasureHO.png);
}
.ui-button.ui-state-active .ui-icon.v3d-icon {
	background-image: url(images/3dRO.png);
}
.ui-button.ui-state-hover .ui-icon.v3d-icon {
	background-image: url(images/3dHO.png);
}
.ui-button .ui-icon.v3d-icon {
	background-image: url(images/3d.png);
}
.ui-button.ui-state-active .ui-icon.rjt-icon {
	background-image: url(images/rjtRO.png);
}
.ui-button.ui-state-hover .ui-icon.rjt-icon {
	background-image: url(images/rjtHO.png);
}
.ui-button .ui-icon.rjt-icon {
	background-image: url(images/rjt.png);
}
.ui-button.ui-state-active .ui-icon.tableToMap-icon {
	background-image: url(images/tableToMapRO.png);
}
.ui-button.ui-state-hover .ui-icon.tableToMap-icon {
	background-image: url(images/tableToMapHO.png);
}
.ui-button .ui-icon.tableToMap-icon {
	background-image: url(images/tableToMap.png);
}

.ui-button .ui-icon.pan-icon {
	background-image: url(images/pan.png);
}

.ui-button.ui-state-active .ui-icon.pan-icon , #toolsButton .pan-icon{
	background-image: url(images/panRO.png);
}
.ui-button.ui-state-hover .ui-icon.pan-icon {
	background-image: url(images/panHO.png);
}
.ui-button .ui-icon.zoom-out-icon {
	background-image: url(images/zoomOut.png);
	  
}

.ui-button.ui-state-active .ui-icon.zoom-out-icon , #toolsButton .zoom-out-icon{
	background-image: url(images/zoomOutRO.png);
	
}
.ui-button.ui-state-hover .ui-icon.zoom-out-icon {
	background-image: url(images/zoomOutHO.png);
	
}
.ui-button .ui-icon.zoom-rect-icon {
	background-image: url(images/zoomIn.png);
	
}
.ui-button.ui-state-hover .ui-icon.zoom-rect-icon {
	background-image: url(images/zoomInHO.png);
}
.ui-button.ui-state-active .ui-icon.zoom-rect-icon, #toolsButton .zoom-rect-icon{
	background-image: url(images/zoomInRO.png);
}
.ui-button .ui-icon.clean-icon {
	background-image: url(images/clean.png);
	height: 24px;
    top: 8px;
    width: 25px;
     background-position: center center;
}
.ui-button.ui-state-active .ui-icon.clean-icon {
	background-image: url(images/cleanRO.png);
}
.ui-button.ui-state-hover .ui-icon.clean-icon {
	background-image: url(images/cleanHO.png);
}

.ui-button .ui-icon.orto-icon {
	background-image: url(images/Ortofoto_mini.png);
}

.ui-button .ui-icon.basico-icon {
	background-image: url(images/Cartografia2_mini.png);
}

.ui-button .ui-icon.topo-icon {
	background-image: url(images/Planos1_mini.png);
}

.ui-button .ui-icon.sombreado-icon {
	background-image: url(images/Fotos2_mini.png);
}

.ui-button .ui-icon.mdt-icon {
	background-image: url(images/MDT.png);
}

.ui-button .ui-icon.satelite-icon {
	background-image: url(images/Satelite_mini.png);
}
#mapToolbar .ui-button{
	 margin-right: -3px;
	border-radius: 0 !important;
	
	}
	
#mapToolbar	.ui-icon{
	height: 100%;
    left: 7.5px !important;
    top: 7.5px !important;
    width: 100%;
	}
#baseToolbar .ui-button{
	height:80px;
	width:78px;
	font-size: 8pt;
	}
	
	#baseToolbar .ui-button .ui-button-text{

	padding:0 !important;
	}
	#baseToolbar .ui-button .ui-icon{
	height: 60px;
    left: 5px;
    padding: 0;
    top: 25px;
    width: 68px;;
	}
.olControlOverviewMapElement {
	background-color: white !important;
	padding-bottom: 0 !important;
	padding-right: 0 !important;
	padding-top: 0 !important;
}

.olControlOverviewMapExtentRectangle {
	height: 140px;
	width: 130px;
}

.olControlAttribution {
	width: 100%;
	right: 0 !important;
	font-size: 8pt !important;
	bottom: 10px !important;
	text-align: center;
}

.shadow{
	 text-shadow: 1px 1px 0 #FFFFFF;
}


#unidadDist{
left: 19px;
    position: relative;
	}
	
	#measureArea, #measurePath{
	text-align:left;
	z-index:9999;
	overflow:visible;
	}
	
	#measureArea input, #measurePath input{
		width:115px;
	}
#medTotal{
	left: 58px;
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
	}
	#theAreaMedTotal{
	left: 58px;
   margin-bottom: 5px;
    position: relative;
	}
	#medSegmento{
	left: 32px;
   
    position: relative;
	}
	#medErrorDist,#medErrorArea{
	
    margin-bottom: 5px;
    margin-left: 10px;
    position: relative;
	}
	#btnCleanMeasureArea.ui-state-hover,#btnCleanMeasurePath.ui-state-hover{
	background-color: #999691;
	color:white;
	border-color:white;
	}
	
	#btnCleanMeasureArea .ui-button-text,#btnCleanMeasurePath .ui-button-text{
padding-left: 3.5em;
	}
	#btnCleanMeasureArea,#btnCleanMeasurePath{
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid #0079B1;
    border-radius: 0;
    color: #0079B1;
    font-weight: bold;
    height:30px;
	}
		#cboLineScale,#cboAreaScale,#cboLineScale_chosen,#cboAreaScale_chosen{
	left: 47px;
    margin-bottom: 5px;
    
    position: relative;
	}
#areaTotal{
 left: 12px;
    margin-bottom: 5px;
    position: relative;
	}
#mapPanel {
	height: 100%;
	padding-bottom: 5px;
	padding-bottom: 5px;
}
#mapOL{
	z-index:998;
}
#mapButtonsDiv {
	position: relative;
right: 0px;
text-align: right;
top: 0;
width: 0px;
height: 100%;
}



.selectorImg {
	cursor:pointer;
	}

.mapButton .ui-button-text {
	padding-left: 2em !important;
}

.mapButton {
	font-weight: bold !important;
	font-size: 9pt !important;
	color: white !important;
	background-color: #0079B1 !important;
	background: #0079B1 !important;
	height: 32px;
	margin-bottom: 10px;
	  z-index: 3000;
	  	 position: absolute;
    right: 0;
}
#notificarClose {
	cursor: pointer;
	position: relative;
  padding-right: 5px;
    top: 5px;
}
#scaleClose {
	cursor: pointer;
	position: relative;
  padding-right: 5px;
    top: 10px;
}
#baseClose {
	cursor: pointer;
	position: absolute;
   right: 4px;
    top: 55px;
}
#scaleButton{
	bottom: 5px;
    width: 180px;
	}
#notificarButton{
	bottom: 55px;
    width: 180px;
	}
#baseLayerButton{
	top:68px;
	}
#toolsButton{
	top:18px;
	}
#toolsClose {
	position: relative;
	  margin-left: 5px;
	cursor: pointer;
top: 4px;
padding-right: 5px;
}

#panZoom{
left: 5px;
    position: absolute;
    top: 45px;
    z-index: 9000;
	}
	
#panNorth{
	left: 15px;
    position: absolute;
    top:0;
    
	}
	#panSouth{
    left: 15px;
    position: absolute;
    top: 32px;
   
	}
	#panWest{
left: 5px;
    position: absolute;
    top: 10px;
    
	}
	#panEast{
   left: 37px;
    position: absolute;
    top: 10px;
    
	}	
	#zoomIn{
	z-index: 9999;
	}
	#zoomOut{
	z-index: 9999;
	position: relative;
    top: -119px;
	}
	#zoomBar{
 left: 21px;
    position: absolute;
    top: 80px;
    z-index: 9999;
   width:0;
	}
	
	#northLabel{
left: 31px;
    position: relative;
    top: -25px;
	}
	
	#zoomSlider{
 background: none;
  
    border: 0 none;
    border-radius: 0;
    height: 119px;
    top: -119px;
    
    width: 0px;
	}
	
	#zoomSlider .ui-slider-handle{
    background-image: url("images/slider.png");
    background-repeat: no-repeat;
    border: 0 none;
    border-radius: 0;
    cursor: move;
    height: 14px;
    margin-bottom: 0.08em;
    margin-left: 7px;
    width: 26px;
    visibility:visible;
	}
	
	#panZoom img{
		cursor:pointer;
	}
#baseToolbar .chosen-container{
   background-color: #FFFFFF;
    display: none;
    margin-bottom: 3px;
    text-align: left;
    width: 75px !important;
     margin-left: 3px;
	}	
	#baseToolbar td{
	text-align:center;
	}
#baseToolbar {
	font-size: 8pt;
	display: none;
	width: 510px;
	padding-left: 4px;
	padding-top: 4px;
	background-color: #0079B1;
	position: absolute;
	right: 8px;
	top: 104px;
	z-index: 8005;
	 border-radius: 0;
}
#scaleToolbar  *{
font-family: "Open Sans",sans-serif !important;
}
#scaleToolbar {
	color: #FFFFFF;
	font-size: 8pt;
	height: 50px;
	display: none;
	/*width: 679px;*/
	padding-left: 4px;

	background-color: #0079B1;
	position: absolute;
	right: 8px;
	bottom: 12px;
	z-index: 9999;
	 border-radius: 0;
}
#notificarToolbar {
	color: #FFFFFF;
	font-size: 8pt;
	/* height: 50px;*/ 
	display: none;
	/*width: 679px;*/
	padding-left: 4px;

	background-color: #0079B1;
	position: absolute;
	right: 8px;
	bottom: 115px;
	z-index: 9999;
	 border-radius: 0;
	 font-family: "Open Sans",sans-serif !important;
}
#notificarToolbar button {
 font-family: "Open Sans",sans-serif !important;
}
#notificarToolbar ul {
	list-style: none;
	float: right;
	padding-top:5px;
	padding-bottom:5px;
}

#notificarToolbar li {
	float: left;
	padding-left:10px;
	padding-top:2px;
	padding-bottom:2px;
}

#scaleValue{
	 display: inline;
    position: relative;
    top: 5px;
}

#coords label, #coords b{
	  font-size: 8pt !important;
	}
#coords {
	display: inline-flex;
	color: #FFFFFF;
}

#coordLat{
	position:relative;
	top:30px;
	
	}
	
	#selTool{
	height: 100%;
    left: 20px;
    position: absolute;
    top: 0;
    width: 30px;
	}
	.selToolLabel{
	margin-left:30px;
	}
#mapToolbar {
	display: none;
	/*width: 504px;*/
	padding-left: 2px;
	
	background-color: #0079B1;
	position: absolute;
 right: 7px;
    top: 55px;
	z-index: 9999;
	 height: 34px;
	  border-radius: 0;
}

#mapToolbar button {
	height: 30px;
	width: 30px;
}

#baseToolbar button {
	height: 24px;
	font-size: 8pt;
}

#map {
	height: 100%;
	border: 2px solid #0079B1;
	border-radius: 5px;
}

#mapArea img {
    width: 100%;
    height: 100%;
}

#mapContainer, #mapArea{
	width:100%;
	height:100%;
}

#hueco {
	float: left;
	height: 20px;
	width: 250px;
}

#layers {
	width: 140px;
	z-index: 9000;
	float: right;
	height: 150px;
	position: absolute;
}



#scale2 {
	position: absolute;
}

#scale3 {
	position: absolute;
}

#scale4 {
	position: absolute;
}

#scale5 {
	position: absolute;
}

#scaleBox {
	text-align: left;
	bottom: 90px;
	float: left;
	font-size: 7pt;
	padding-left: 10px;
	position: relative;
}

#scaleBar {
	padding-left: 25px;
	padding-right: 35px;
	height: 5px;
}

#scaleDiv {
	bottom: -55px;
	display: inline-flex;
	position: relative;
}

#north {
	float: right;
	padding-right: 10px;
}

#escalaMapa {
	font-size: 8pt;
	position: absolute;
	right: 115px;
	width: 180px;
	top: 20px;
}

#scaleSRS {
	bottom: -45px;
	display: inline-block;
	position: relative;
}

#play {
	cursor: pointer;
}

#fondo {
  bottom: -45px;
    font-size: 10pt;
    font-weight: bold;
    padding-left: 10px;
    position: relative;
    text-align: left;
    text-shadow: 1px 1px 0 #FFFFFF;
}


#cboSRSClient{
	vertical-align: bottom;
	}
.dialog_btn{
	text-align:center;
	 padding-top: 5px;
	}
	
.ui-dialog {
    z-index: 9999 !important;
    font-size:11px !important;
}
.ol-attribution {
    position: relative !important;
    text-align: left !important;
    background: none !important;
    bottom: 80px !important;
}
.ol-attribution a {
    display: none;
}
 .ol-popup {
     height: 50px;
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }
.undisplayed{
	display:none;
}
#measure-pill-units,#numberPointsPerfil{
	font-weight:bold;
}

#measureGraph {
    transform: rotate(270deg);
    transform-origin: left top 0;
    float: left;
    width: 250px;
}

element.style {
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#altitudeGraph {
     margin-left: 10px;
}


#profile .row{
	height:20px;
}
#tablePointsPerfil_wrapper tr{
	height:39px;
}

#tablePointsPerfil_wrapper td,#tablePointsPerfil_wrapper th{
    border: 1px solid #ddd;
        padding-left: 10px;
    border-top: none;
    border-right: none;
    	text-align:left;
	font-size: 11px;
}
#tablePointsPerfil_wrapper table{
border: 1px solid #ddd;
    border-left: none;
    border-bottom: none;
}
#tablePointsPerfil_wrapper .odd{
background-color: #f9f9f9 !important;
}

#tablePointsPerfil_wrapper .even {
    background-color: white !important;
}
#divTablePointsPerfil{
    margin-top: 30px;
}

#altitudeGraph {
    margin-left: 10px !important;
    width: 575px !important;
}

#unitsGraph{
	    position: absolute;
    left: 263px;
}

#profile .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
#profile button{
background-color:#337ab7;
color: white;
padding: 6px 12px;
border: 1px solid #245580;
    border-radius: 4px;
    font-size: 12px;
}

#profileMessage{
	position: absolute;
    top: 40%;
    font-size: 12px;
}

#calculatingProfileOverlay{
	left: 45%;
    top: 25%;
    position: absolute;
}

.ui-dialog-title{
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}